# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Entorno virtual
venv/
env/
.venv/
.env

# IDE
.vscode/
.idea/
*.suo
*.user

# AutoCAD
*.bak
*.dwl
*.dwl2
*.sv$

# OS
.DS_Store
Thumbs.db
desktop.ini
